body
{

}
#a
{
    padding-left: 700px;
}
#place
{
   
    padding-top:50px;
}
#place1
{
   
    padding-top:80px;
    
}
#size
{
    font-size:40px;
   
}
#size1
{
    font-size:25px;

   
}
#pos
{

    text-align: center;
    
}
#pos1
{
  
    text-align: center;
    
}